*{
	transition:all 0.2s;
}
body{
	font-family:Arial;
}

nav {
	display:flex;
	height:100px;
	justify-content:space-around;
/*	padding:50px 10%;*/
}

.profile-pic{
	flex:30%;
}

nav img{
	width:auto;
	height:100%;
	border-radius:100%;
}
nav li {
	list-style:none;
	padding:5px 7px;
	background:rgb(150,150,150,0.7);
	color:white;
	border-radius:5px;
	margin:0px 5px;

}

nav ul{
	display: flex;
	margin:auto;
	flex-direction:row;
	flex:70%;
}

.margin5{
	margin:auto 5%;
}

.gallery{
	display:flex;
	flex-wrap:wrap;
}

.gallery img+img{
	margin-left:20px;
}

.gallery img{
	margin-bottom:20px;
}


.person-photo{
	width:50vmin;
	height:50vmin;
	border-radius:5%;
	object-fit:cover;
	object-position:25% 25%;
	border-color:red;
	border-width:2px;
	border-style:solid;

}

.margin-bottom10{
	margin-bottom:5px;
}
